@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dekko&display=swap");

.underline {
  width: 100%;
  height: 3px;
  background-color: lightgrey;
}

.textNaming {
  text-align: center;
  color: antiquewhite;
  font-size: 35px;
  margin: 25px 0 25px 0;
  font-family: "Fugaz One", cursive;
}

.subName {
  color: black;
  font-family: "Fugaz One", cursive;
  font-size: 25px;
  width: 100%;
  background-color: rgb(201, 126, 42);
}

.underlineSub {
  width: 100%;
  height: 1px;
  background-color: black;
}
.underlineSubDown {
  width: 100%;
  height: 1px;
  background-color: black;
  margin-bottom: 40px;
}

.card {
  background-color: rgb(23, 23, 23);
  color: white;
  font-family: "Dekko", cursive;
}
