@import url("https://fonts.googleapis.com/css2?family=Chonburi&display=swap");

.headerPic {
  width: 100%;
  height: 220px;
  background-image: url("/public/brick.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.fontH1 {
  font-family: "Chonburi", cursive;
  color: #dda568;
  font-size: 80px;
}

.colPosition {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 980px) and (max-width: 1199px) {
  .fontH1 {
    font-size: 60px;
  }
}

@media (min-width: 757px) and (max-width: 979px) {
  .fontH1 {
    font-size: 60px;
  }
}

@media (min-width: 576px) and (max-width: 756px) {
  .fontH1 {
    font-size: 60px;
  }
  .colPosition {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: 280px) and (max-width: 575px) {
  .fontH1 {
    font-size: 35px;
  }
}
