@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dekko&display=swap");

.underline {
  width: 100%;
  height: 2px;
  background-color: lightgrey;
}

.textNaming {
  text-align: center;
  color: antiquewhite;
  font-size: 35px;
  margin: 25px 0 25px 0;
  font-family: "Fugaz One", cursive;
}

.card {
  background-color: rgb(23, 23, 23);
  color: white;
  font-family: "Dekko", cursive;
}

.btnCard {
  text-decoration: none;
  background-color: #dda568;
  display: block;
  color: black;
  margin-top: 20px;
}
.btnCard:hover {
  color: white;
}
