@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");

.underline {
  width: 100%;
  height: 2px;
  background-color: lightgrey;
}

.textNaming {
  text-align: center;
  color: antiquewhite;
  font-size: 35px;
  margin: 25px 0 25px 0;
  font-family: "Fugaz One", cursive;
}
